/***********************************************************************************************/
/* START FARI */
/***********************************************************************************************/
@supports (overflow:-webkit-marquee) and (justify-content:inherit) {
  .jplayerButton{
    top: -2rem;
    margin-left: 18rem!important;
    position: relative;
  }
}
/***********************************************************************************************/
/* END SAFARI */
/***********************************************************************************************/
