/***********************************************************************************************/
/* FOOTER */
/***********************************************************************************************/
.footer{
  padding-top: 1rem;
  .social-icons{
    ul{
      li{
        display: inline-block;
        padding-right: 0.5rem;
        a{
          width: 3.8rem;
          height: 3.8rem;
          display: inline-block;
          background-color: transparent;
          border-color: transparent;
          margin:0;
          i{
            line-height: 3.6rem;
            color: #444;
            font-size: 1.4rem;
            width: 3.8rem;
            height: 3.8rem;
            &:before{
              font-size: inherit;
            }
          }
          &:hover{
            width: 3.8rem;
            height: 3.8rem;
          }
        }
      }
    }
  }
}

.copyFooter, .goTop{
  line-height: 38px;
}

.copyFooter{
  text-align: left;
  a{
    font-family: $mont;
    font-size: 1rem;
    font-weight: 400;
    color: #9a9a9a;
    text-transform: uppercase;
    text-decoration: none;
  }
}
.goTop{
  text-align: right;
  a{
    font-family: $mont;
    font-size: 1rem;
    font-weight: 400;
    color: #9a9a9a;
    text-transform: uppercase;
    padding-left: 0.5rem;
    text-decoration: none;
  }
  i{
    position: relative;
    top: 0.2rem;
    color: #9a9a9a;
  }
}
/***********************************************************************************************/
/* END FOOTER */
/***********************************************************************************************/
