/***********************************************************************************************/
/* VIDEO-HOME SECTION */
/***********************************************************************************************/
.videoHome{
  text-align: center;
  .sectionTitle{
    p{
      font-family: $baseFont;
      font-size: 1.8rem;
      color: #757575;
      font-weight: 400;
      padding: 5.5rem 0;
      margin-bottom: 0!important;
      a{
        font-family: $baseFont;
        font-size: 1.8rem;
        color: $golden;
        font-weight: 400;
        text-decoration: none;
      }
    }
  }
}
/***********************************************************************************************/
/* END VIDEO-HOME SECTION */
/***********************************************************************************************/
