
/***********************************************************************************************/
/* SINGLE EVENTS */
/***********************************************************************************************/
.SingleEventTitle{
  text-align: center;
  padding-bottom: 3rem;
  h1{
    font-family: $mont;
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: 6.5rem;
      @include translateX(-50%);
      left: 50%;
      width: 9rem;
      height: 0.2rem;
      background-color: #fff;
    }
  }
}

.descriptionEvent{
  p{
    font-size: 1.4rem;
    font-family: $baseFont;
    font-weight: 400;
    color: #555454;
    padding-bottom: 2rem;
    line-height: 2.5rem;
    &:last-child{padding-bottom: 0;}
  }
}

.coverEvent{
  padding: 10rem 0;
}

.ticket{
  h4{
    padding-bottom: 4rem;
    font-family: $mont;
    color: #525252;
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: uppercase;
  }
  a{
    font-size: 1.1rem;
    font-weight: 400;
    font-family: $baseFont;
    color: #fff;
    background-color: #000;
    padding: 0.6rem 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    @include transition;
    &:hover{
      background-color: $golden;
    }
  }
}

.google-map {
  min-height: 50rem;
  img {
    max-width: inherit;
  }
}

.googleMap{
  .container-fluid{
    padding: 0;
  }
}
/***********************************************************************************************/
/* END SINGLE EVENTS */
/***********************************************************************************************/
