
/***********************************************************************************************/
/* START VIDEO */
/***********************************************************************************************/
.videoG{
  .videoTitle{
    padding-bottom: 5rem;

  }
  &:nth-child(7){
    .videoTitle{
      padding-bottom: 0;
    }
  }
  &:nth-child(8){padding-bottom: 0;}
  &:nth-child(9){padding-bottom: 0;}
}

/***********************************************************************************************/
/* END VIDEO */
/***********************************************************************************************/
