//$yellow: #FFBA07;
//$purpur: #440FB7; //#7D44C6
//$strokeLightBlue: #DEE7F4;
//$light_blue: #F2F7FF;
//$focused_blue: #5E79A4;
//$basic_black: #1E1449; //#211557
//$diss_gray: #E0E0E0; // #EDEDED;
//$error_red: #ED2853;
//$pink: #D820E7;
//$light_pink: #fdeaff;
////#FF4308;
////$blue: #4C94FF;
//$links: #2A72D7;
//$gray: #B8B8B8;
//
//$black: #252525;
//$green: #6CBD3A;
//$preloader: #F6F6F6;
//$black: #000; // TODO add to colors
//$white: #FFF;
//
//$headerBackground: linear-gradient(0.25turn, #644BC1, #211774, #0C1035);
//$footerBackground: linear-gradient(90deg, #0C1035 0%, #211774 100%);
//$FourOhFourBackground: linear-gradient(233.96deg, #288EED 30.15%, #1894EE 35.73%, #5373E4 44.91%, #5639C8 56.61%, #4E2FA7 70.24%, #3C1E94 79.7%);
//$liteBlueBackground: radial-gradient(53.76% 53.76% at 45.16% 12.63%, rgba(255, 255, 255, 0.2) 0%, rgba(62, 175, 244, 0.2) 100%), linear-gradient(0deg, #1DA1F2, #1DA1F2);
//$maintenanceBackground: radial-gradient(at bottom, #288EED 15%, #1894EE 25%, #5373E4 40%, #5639C8 60%, #4E2FA7 70%, #3C1E94 80%);
//
//$filter_to_yellow: brightness(0) saturate(100%) invert(72%) sepia(58%) saturate(990%) hue-rotate(352deg) brightness(100%) contrast(102%);
//
//$tablet: 888px; //642
//$header_mobile: 604px;
//$mobile: 414px;
//
//$NunitoSans: 'Nunito Sans', sans-serif;
////$Nunito: 'Nunito', sans-serif;
//
$transition: 0.3s ease-in-out all;
$transition_slowly: 0.6s ease-in-out all;
$transition_faster: 0.2s ease-in-out all;
//
//$container_width: 904px;
//$container_padding: 24px;
