.breadcrumb {
  padding: 700px 50px 175px 50px;
  list-style: none;
  border-radius: 0;
  text-align: center;
  width: 100%;
  background-position: center top;
  z-index: 1;
  background-size: cover;
  position: relative;
  transform: translateZ(0);

  &.breadcrumb-fullscreen {
    padding-top: 120px;
    display: table;
    background: rgb(81,64,52);
    background: radial-gradient(circle, rgba(81,64,52,1) 12%, rgba(19,19,18,1) 83%);

    & > * {
      display: table-cell;
      vertical-align: middle;

      & > a {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;

        i {
          margin-left: 5px;
          margin-top: 15px;
        }
      }
    }

    & iframe {
      z-index: 0 !important;
    }

    &.affix {
      height: 70px !important;
      padding: 35px 0 !important;
      z-index: 2;

      * {
        display: none;
      }
    }

  }

  &_BG {
    background-position: 50% calc(var(--scrollTop) / 2) !important;
    background-repeat: repeat !important;
  }

  .no-mb &.breadcrumb-fullscreen {
    margin-bottom: 0;
    height: 100vh;
  }

  &-fullscreen-parent {
    transform: translateZ(0);
    overflow: hidden;
    transition: transform 0.4s ease-in-out, left 0.4s ease-in-out;
    left: 0;
    width: 100%;
    z-index: 0;
    position: relative;

    &.affix {
      overflow: hidden;
      z-index: 6;
      bottom: calc(100% - 67px);
    }
  }

  &.ava-slider-container {
    padding: 0!important;
  }

  &.slim {
    padding: 130px 120px 50px 120px;
  }

  &.breadcrumb-video-content {
    padding: 0;
    margin-bottom: 0;
    background: transparent;
  }

  & .video-thumbnail {
    opacity: 1 !important;
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    z-index: 5;
    visibility: hidden;
  }

  & .fluid-width-video-wrapper {
    padding-top: 56% !important;
    margin-top: -4%;
    position: relative;
    opacity: 1 !important;

    & iframe {
      opacity: 1 !important;
    }
  }

  &.overlay {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: none;
    }
  }

  &.alignleft {
    float: none;
    text-align: left;
  }

  &.alignright {
    float: none;
    text-align: right;
  }

  .category a {
    color: #f2f2f2;
    font-size: 14px;
    font-weight: 400;
    font-family: $raleway;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 10px;
    min-height: 10px;
    display: inline-block;
  }

  h2 {
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    font-family: $raleway;

    a {
      color: #fff;
      font-weight: 700;
      font-size: 32px;
      font-family: $raleway;
    }
  }

  .info {
    margin-top: 20px;

    a {
      font-size: 14px;
      color: #f2f2f2;
      font-family: $raleway;

      span {
        color: #595959;
      }

      &:before {
        content: '\f111';
        color: #1f2021;
        font-size: 6px;
        position: relative;
        top: -2px;
        margin: 0 15px;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      &:first-child:before {
        display: none;
      }
    }
  }

  & > li {
    display: inline-block;

    & + li:before {
      content: "/\00a0";
      padding: 0 5px;
      color: #ccc;
    }
  }

  & > .active {
    color: #777777;
  }

  @media (max-width: 320px) {
    h1 {
      font-size: 20px;
    }
  }

  @media (max-width: 780px) {
    padding: 100px 15px 100px 15px;
    height: auto;
    position: relative!important;

    h1 {
      font-size: 42px;
    }
    &.slim {
      padding: 80px 15px 5px 15px;
    }
    &.breadcrumb-fullscreen {
      padding-top: 70px;
      padding-bottom: 30px;
    }
    .breadcrumb-fullscreen-parent.affix {
      position: relative!important;
    }
    &.affix {
      position: relative!important;
    }
    .before-affix-breadcrumb {
      height: 0 !important;
    }
  }

  @media (max-width: 1200px) {
    &.breadcrumb-fullscreen {
      padding-left: 30px;
      padding-right: 30px;
    }
    &.breadcrumb-fullscreen p,
    &.small-description > div p {
      width: 100%;
    }
    & .video-thumbnail {
      visibility: visible;
      opacity: 1;
    }
  }
}

.affix {
  position: fixed;
}

.breadcrumbCustom {
  height: 50rem!important;
}
.slideBread {
  margin-bottom: 0!important;
}
